/* To top button */
#toTop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 50px; /* Place the button at the bottom of the page */
  right: 50px; /* Place the button 30px from the right */
  z-index: 1; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(236, 29, 35, 0.6); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1rem; /* Some padding */
  border-radius: 50px; /* Rounded corners */
  width: 2rem;
  height: 2rem;
  text-align: center;
  padding: 0.5rem;
}
#toTop:hover {
  background-color: var(
    --equinix-red
  ); /* Add a dark-grey background on hover */
}

/* Navbar */
.navbar {
  background-color: var(--primary-blue);
  opacity: 97%;
  color: #fff;
  width: 100%;
  height: auto;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}
.navbar .container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 100%;
  overflow: visible;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
  transition: border-bottom 0.3s ease;
}
.navbar a:hover {
  color: #c9c9cc;
}
.navbar a.active {
  color: #fff;
  border-bottom: 2px #fff solid;
}
.menu-toggle .bar {
  width: 25px;
  height: 5px;
  background-color: #fff;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu-toggle {
  justify-self: end;
  display: none;
}
.menu-toggle:hover {
  cursor: pointer;
}
#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}
#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}
#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}
.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}
.dropdown {
  float: left;
  position: relative;
}
.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  color: #fff;
  min-width: 4.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropbtn span {
  font-size: 0.65rem;
  letter-spacing: 1px;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 70%;
  left: 0;
  opacity: 97%;
  background-color: var(--primary-blue);
  min-width: max-content;
  padding: 0.5rem;
  z-index: 1;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.dropdown-content a {
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 0.25rem;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
  transform: translateY(8px);
  transition: all 0.5s ease;
  padding: 1rem;
}
.dropdown:hover .dropbtn {
  color: #c9c9cc;
}
@media all and (min-width: 980px) and (max-width: 1475px) {
  .container {
    width: 95%;
  }
  .logo {
    width: 10rem !important;
    margin: 0.25rem;
  }
  .navbar ul {
    width: 100%;
    justify-content: space-evenly;
    padding: 0 1rem;
    margin: 8px 0;
  }
  .navbar {
    padding: 0.5rem;
    height: auto;
  }
  .navbar .container {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: start;
    max-height: 100%;
    padding: 0 10px;
  }
  .navbar a,
  .dropbtn span,
  .dropbtn i {
    padding: 5px;
  }
  section {
    scroll-margin-top: 5rem !important;
  }
  .hidden-section.active-section {
    scroll-margin-top: 5.5rem;
  }
}
@media all and (max-width: 980px) {
  .dropdown {
    float: none;
    transform: translateY(0);
  }
  .dropdown-content {
    position: relative;
  }
  .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
    transform: translate(0px, 0);
    padding: 0px 4px;
    height: min-content;
    margin: 0;
  }
  .dropbtn span {
    width: 100%;
    font-size: 1rem;
  }
  .dropbtn i {
    font-size: 1rem;
  }
  .dropdown-content {
    padding: 0;
    width: 100%;
    background-color: var(--equinix-carbon);
    border-radius: 0;
  }
  .dropdown-content a {
    padding: 12px 16px 12px 100px;
    font-size: 1rem;
    margin-left: 0;
  }
  .dropdown:hover .dropbtn {
    color: #fff;
  }
  .dropdown:hover {
    background-color: #222;
  }
  .dropdown:hover .dropdown-content {
    top: -1%;
    padding-left: 2rem;
    background-color: #222;
  }
  .dropdown-content a:hover {
    border-bottom: none;
    color: var(--equinix-red);
  }

  .container {
    padding: 10px 20px;
  }
  .logo {
    width: 11rem !important;
    margin: 0.75rem 0;
  }
  .menu-toggle .bar {
    width: 20px;
    height: 3px;
  }
  .navbar {
    z-index: 10;
    height: auto;
    opacity: 100%;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 3.4rem;
    width: 120%;
    height: 100vh;
    transform: translate(-115%);
    text-align: center;
    overflow: hidden;
    background-color: var(--primary-blue);
  }
  .navbar li {
    padding: 15px;
    width: 100%;
    text-align: left;
    padding-left: 6rem;
  }
  .navbar li:first-child {
    margin-top: 50px;
  }
  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
    margin-right: 0.75rem;
  }
  .mobile-nav {
    transform: translate(-6rem) !important;
  }
  .mobile-nav li a {
    font-size: 1rem !important;
    padding: 10px 0;
  }
}
@media all and (min-width: 1475px) {
  .hidden-section.active-section {
    scroll-margin-top: 3rem;
  }
}
/* Styles when navbar scrolls */
.navbar-scrolled,
.navbar-scrolled .nav,
.navbar-scrolled .dropdown-content {
  background: rgb(51, 51, 51);
  vertical-align: middle;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

/* Showcase section */
#home {
  width: 100%;
  height: 65vh;
  transition: all 0.2s ease;
  position: relative;
}
.welcome-user {
  position: absolute;
  top: 8%;
  right: 2%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 1.5rem;
}

.custom-slider {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100vw;
}
.ss1 {
  min-width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.slide.current {
  opacity: 1;
}

.slide-wrapper {
  height: 100%;
  padding: 0 40px;
  position: relative;
}
.slide-wrapper .slide-content {
  position: absolute;
  bottom: 50px;
  left: -10%;
  opacity: 0;
  width: 600px;
  background-color: rgba(0, 0, 0, 0.85);
  color: #f2f2f2;
  padding: 25px;
  z-index: -1;
}

.slide .slide-content h1 {
  padding: 1rem;
  border-bottom: 2px solid var(--equinix-red);
}
.slide .slide-content p {
  font-weight: 500;
  font-size: 0.7rem;
  margin: 1rem 0;
  height: fit-content;
}
.timeline-btn-wrapper {
  position: relative;
}
.cover-btn-grp {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: center;
}
.cover-btn-grp .btn {
  text-align: center;
  font-size: 0.65rem;

  width: fit-content;
  max-width: 10rem;
  margin: 0.5rem 0.5rem 0 0;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  position: relative;
  flex: 1;
  cursor: pointer;
}

.slide .slide-content .btn:hover {
  border: 1px solid white;
  background-color: white;
  color: var(--equinix-red);
}

.slide.current .slide-content {
  opacity: 1;
  transition: all 0.7s ease-in-out 0.3s;
  z-index: 0;
  animation: slideInFromLeft 1s forwards;
  z-index: 2;
}
.slide-content {
  text-align: center;
  width: 100% !important;
  top: 0% !important;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons button#next,
.buttons button#prev {
  position: absolute;
  top: 100%;
  right: 15%;
  z-index: 5;
}
.buttons button#prev {
  left: 15%;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  outline: none;
  width: 40px;
  height: 40px;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

@media (max-width: 500px) {
  .slide-wrapper .slide-content {
    bottom: 0%;
    left: 0;
    background-color: transparent;
    padding: 3rem;
  }

  .buttons button#next {
    top: 50%;
    right: 5%;
  }
  .buttons button#prev {
    top: 50%;
    left: 5%;
  }
}
@media all and (min-width: 501px) and (max-width: 800px) {
  .slide .slide-content {
    bottom: 0;
    left: 0;
    padding: 4rem;
  }
}
@media all and (min-width: 800px) {
  .slide .slide-content {
    background: transparent;
    bottom: 0%;
    left: 0;
    padding: 4rem;
  }
  .buttons button#next,
  .buttons button#prev {
    top: 50%;
    right: 5%;
  }
  .buttons button#prev:not(.ss2-btnc button#prev) {
    left: 5%;
  }
}

/* Backgorund Images */

.home .custom-slider .slide:first-child {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.82),
      rgba(256, 256, 256, 0)
    ),
    url("./images/slide1.jpeg") no-repeat fixed;
  background-size: cover;
}

.slide:nth-child(2) {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.82) 15%,
      rgba(256, 256, 256, 0)
    ),
    url("https://bit.ly/3cmmfN8") no-repeat center top/cover;
}
.slide:nth-child(3) {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.82) 15%,
      rgba(256, 256, 256, 0)
    ),
    url("https://bit.ly/3vrqxt6") no-repeat fixed;
}

/* user-content and degreed common styles */

.degreed-item,
.uc-item {
  text-align: center;
  color: #444;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.degreed-btn,
.uc-btn {
  color: #fff;
  font-size: 0.55rem;
  padding: 0.15rem 0.5rem;
  border-radius: 5px;
  background-color: var(--equinix-red);
  border: 1px solid var(--equinix-red);
  min-width: 8rem;
  width: fit-content;
  margin: 0 auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
  transition: all 0.1s ease;
}

.degreed-btn a,
.uc-btn a {
  color: #fff;
}

/* user-content */
/* .user-content {
  height: 35vh;
  background-color: #f2f2f2;
  background-image: url(./images/uc-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
  display: flex;
  align-items: center;
}
.user-content > .container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 25px 0.5rem;
  margin: 0rem auto;
}
.user-content > .container > div {
  width: 90%;
  margin: 0.5rem auto;
}

.uc-link {
  margin: 0.75rem;
  font-weight: bold;
  transition: background-image 1s ease;
}
.uc-btn:hover .arrow {
  background-image: url(./images/arrow-light.svg);
}
.uc-btn:hover {
  background-color: var(--light-gray);
  color: var(--equinix-red);
}
.uc-btn:hover a {
  color: var(--equinix-red);
}
.uc-btn .arrow {
  min-width: auto;
  max-width: 1.7rem;
  margin: 0 0.5rem;
}
.user-content a {
  text-decoration: none;
}
.uc-icon {
  color: #444;
  font-size: 2.4rem;
}
.uc-item h3 {
  color: var(--equinix-red);
  align-self: center;
}
.uc-item p {
  font-size: 0.7rem;
  margin: 0;
}

@media all and (min-width: 600px) {
  .user-content > .container {
    flex-direction: row;
    gap: 2rem;
    justify-content: space-evenly;
  }
  .user-content > .container > div:first-child {
    margin-right: auto;
    margin-left: 0;
  }
  .user-content > .container > div:last-child {
    margin-left: auto;
  }
  .user-content > .container > div,
  .user-content > .container > a {
    width: auto;
    max-width: 45%;
  }
} */
/* Learning Ops link */
.lo-link {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  z-index: 5;
  bottom: 1.5rem;
  left: 47%;
  cursor: pointer;
}
.lo-link > * {
  font-size: 1vw;
}
.lo-link a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
.lo-link a i {
  animation: pulse 2s infinite;
}
/* Animation for the chevron */
@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
/* Onboarding and Degreed common styles */

#degreed,
#onboarding {
  background: linear-gradient(rgba(256, 256, 256, 0.1), rgba(240, 248, 255, 8)),
    url("./images/fortress-gray.png"), url("./images/fortress-light-gray.png");
  background-size: 100%, 150%, 150%;
  background-position: -80% -10%, -50% 12%;
  background-repeat: no-repeat, no-repeat;
}

#degreed .container {
  justify-content: left;
  align-items: center;
  grid-template-columns: 1.5fr 1fr;
  position: relative;
}
#onboarding .container {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  flex-direction: column;
  padding: 0;
}

.new-degreed-content {
  height: auto;
}
.onboarding-image {
  width: 40%;
}
.onboarding-image:not(img) * {
  text-align: center;
}
.onboarding-content {
  flex-basis: 60%;
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem 0;
}

/* Onboarding */
.onboarding {
  padding-bottom: 2rem;
  scroll-margin-top: 3.25rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.onboarding-content h1 {
  font-weight: 1000;
  text-transform: capitalize;
  animation: SlideInRight 1s ease;
}
.onboarding-content p {
  margin-top: 0;
  animation: FadeInBottom 1s ease;
  align-self: flex-start;
}
.onboarding-content .cover-btn-grp {
  gap: 0.5rem;
  justify-content: center;
}
.onboarding-content .cover-btn-grp .btn {
  margin-left: 0;
  color: var(--equinix-red);
  border: 2px solid var(--equinix-red);
  font-weight: bold;
  max-width: 12rem;
}
.onboarding-content .cover-btn-grp .btn:hover {
  color: #fff;
}
.onboarding-content em {
  font-weight: 600;
  color: var(--equinix-red);
}

#fade {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=90);
}

#light {
  display: none;
  position: absolute;
  top: 10%;
  left: 15%;
  width: 70%;
  height: auto;
  border: 2px solid #fff;
  background: #fff;
  z-index: 1002;
  overflow: visible;
}

#boxclose {
  cursor: pointer;
  color: #fff;
  border: 1px solid #aeaeae;
  border-radius: 3px;
  background: #222222;
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "×";
}

#fade:hover ~ #boxclose {
  display: none;
}
@media all and (min-width: 960px) {
  #onboarding .container:not(h1) {
    flex-direction: row;
    justify-content: space-around;
  }
  .onboarding-image {
    flex-basis: 20%;
    align-items: center;
  }

  .onboarding-content {
    order: 0;
    justify-self: start;
    flex-basis: 80%;
  }
  .onboarding-image:not(img) * {
    text-align: left;
  }
  .onboarding-content .cover-btn-grp {
    justify-content: start;
  }
}
@media all and (min-width: 1200px) {
  .onboarding-image {
    flex-basis: 20%;
    align-items: center;
  }
}

/* Roles section */
/* roles */
#roles {
  color: #fff;
  background-color: #22323d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23323e48' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23414b53' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%2351575d' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23606468' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23707073' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}
#roles .grid {
  padding: 1rem;
  margin: auto 0;
}

#timeline {
  display: flex;
  background-color: #031625;
  min-height: 75vh;
}
.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 33.33%;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
}
#timeline:hover .tl-item {
  width: 35%;
}
.tl-item:before,
.tl-item:after {
  transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tl-item:after {
  background: rgba(3, 22, 37, 0.85);
  opacity: 1;
  transition: opacity 0.5s ease;
}
.tl-item:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, black 75%);
  z-index: 1;
  opacity: 0;
  transform: translate3d(0, 0, 0) translateY(50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.tl-item:hover {
  width: 35% !important;
}
.tl-item:hover .tl-title {
  display: none;
}
.tl-item:hover:after {
  opacity: 0;
}
.tl-item:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 1s ease, transform 1s ease 0.25s;
}
.tl-item:hover .tl-content {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.75s ease 0.5s;
}
.tl-item:hover .tl-bg {
  filter: grayscale(0);
}
.tl-content {
  transform: translate3d(0, 0, 0) translateY(55px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 0.7rem;
  top: 30%;
  opacity: 0;
}

.tl-content-body {
  padding: 0.5rem;
}
.tl-content-body p,
.tl-content a,
.tl-content ul li {
  font-size: 0.7rem;
  list-style: disc;
}
.tl-content h2 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #fff;
}
.tl-title {
  position: absolute;
  top: 45%;
  left: 50%;
  width: max-content;
  padding: 0.8rem;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-align: center;
}
.tl-title p {
  line-height: 1;
  font-size: 0.65rem;
}

.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: grayscale(90%);
}
@media all and (max-height: 900px) {
  .tl-content {
    top: 20%;
    max-height: 100%;
  }
}
@media all and (min-width: 990px) {
  .tl-content {
    min-height: 450px;
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 0.7fr 0.1fr;
  }
  .tl-content h4 {
    padding: 1rem;
  }
}
@media all and (max-width: 1080px) {
  #roles {
    min-height: 90vh;
  }
  #timeline {
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
  }
  #timeline:hover .tl-item {
    width: 49%;
  }
  .tl-item {
    width: 50%;
    height: 20rem;
    transition: width 0.5s ease-in;
  }
  .tl-item:hover {
    width: 51% !important;
  }
  .tl-content {
    top: 15%;
    min-height: 300px;
  }
}
@media all and (max-width: 662px) {
  #timeline {
    justify-content: center;
    align-content: flex-start;
  }
  #timeline:hover .tl-item {
    width: 100%;
  }
  .tl-item {
    width: 100%;
    height: 25vh;
    transition: height 0.8s ease-in-out;
  }
  .tl-item:hover {
    width: 100% !important;
    height: 280px !important;
  }
  .tl-content {
    top: 15%;
  }
}
/* Hidden Sections */
.hidden-section {
  background-color: var(--light-gray);
  height: 0vh;
  display: none;
  position: relative;
}
.hidden-section.active-section {
  min-height: 100vh;
  height: fit-content;
  display: block;
}
.section-header .cta {
  display: inline;
}
.section-header .cta a {
  color: var(--primary-blue);
}
.tablink {
  background-color: transparent;
  color: #333;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  width: 33.33%;
  border-radius: 5px;
  transition: border 0.2s ease;
}

.tablink:hover {
  color: var(--equinix-red);
}
/* Equitube */
/* Courses Section */
#equitube {
  display: flex;
  flex-direction: column;
}
#equitube .container {
  padding: 10px 40px;
}
.course-headline {
  text-decoration: none;
  color: #333;
}
.course-headline:hover {
  color: #000;
}
.course-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: center;
  padding: 0 1.5em 3em 1.5em;
  text-align: center;
}

.courseImg img {
  background-color: #444;
  width: 100%;
  min-height: 7rem;
  border-radius: 5px 5px 0 0;
}
.card {
  width: max-content;
  max-width: 12rem;
  background-color: var(--light-gray);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  padding-bottom: 1rem;
  display: grid;
  grid-template-rows: auto 1fr 0.1fr;
}
.card-text {
  text-align: left !important;
}
.card-body {
  padding: 0.8rem;
}

.courseBtn {
  font-size: 0.65rem;
}
.card-body h5 {
  color: rgb(236, 29, 35);
  align-self: start;
  font-weight: 600;
  min-height: 2.5rem;

  text-align: left;
}

.card-text p {
  text-align: left;

  position: relative;
  margin: 0;
  font-size: 0.6rem;
}

.card-text #collapseBtn {
  font-size: 0.5rem;
  cursor: pointer;
  color: #0645ad;
  text-align: center;
  margin: 0;
}
.card-text #collapseBtn:hover {
  color: #0b0080;
}

.card-text #collapseBtn.collapsed::after {
  content: "Read more";
  font-size: 0.5rem;
}
.card-text #collapseBtn.collapsed::before {
  content: "...";
}
.card-text #collapseBtn:not(.collapsed)::after {
  content: "- Read less";
  font-size: 0.5rem;
}

.card-text p.collapse:not(.show) {
  display: block;
  height: 3rem;
  overflow: hidden;
}

.card-text p.collapsing {
  height: 53px !important;
  transition: height 0.1s ease;
}
.card-footer .btn {
  font-size: 0.65rem;
}
.equitube .more-btn {
  display: block;
  margin: 2rem auto;
}
@media screen and (min-width: 620px) {
  .course-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .course-wrapper .card:last-child {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 1320px) {
  #courses h1 {
    font-size: 2.5em;
  }
  .course-wrapper {
    width: 85%;
    grid-template-columns: repeat(3, 1fr);
  }
  .course-wrapper .card:last-child {
    grid-column: auto;
  }
}

/* @media screen and (min-width: 1999px) {
  .course-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
  .course-wrapper .card:last-child {
    grid-column: 2/4;
  }
} */
@media screen and (min-width: 3200px) {
  .card-body p.collapse:not(.show) {
    height: 1.5em;
  }
  .card {
    width: 13rem;
  }
  .course-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
  .course-wrapper .card:last-child {
    grid-column: auto;
  }
}
/* Tab contents */
.tab-content {
  height: 100%;
}
.progress-wrapper {
  display: flex;
  height: max-content;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 2rem;
}
.progress-bar-container {
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.progress-bar-container ul {
  min-width: 75px;
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.progress-bar-container li {
  width: 250px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.progress-bar-container li::before {
  content: " ";
  display: block !important;
  width: 60px;
  height: 60px;
  background-image: url(./images/tab-reg.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.6;
  transition: all 0.2s ease;
  background-color: transparent;
  border-radius: 50%;
}
.progress-bar-container li:hover::before {
  border-color: var(--dark-gray);
  background-image: url(./images/tab-hover-active.svg);
}
.progress-bar-container li.active::before {
  opacity: 1;
  background-image: url(./images/tab-hover-active.svg);
}
.progress-bar-container li.current::before {
  opacity: 1;
  background-image: url(./images/tab-hover-active.svg);
  border-color: var(--dark-gray);
}
.step-inner {
  width: 100%;
  bottom: 0;
  color: #043776;
  font-weight: 600;
  display: inline;
}
.progress-bar-container li:hover .step-inner {
  color: var(--dark-gray);
}
.progress-bar-container li.current .step-inner {
  color: var(--equinix-red);
  font-weight: 700;
}
.progress-bar-container li:hover .step-inner {
  color: var(--dark-gray);
}
.progress-bar-container li.current .step-inner {
  color: var(--equinix-red);
  font-weight: 700;
}
.progress-bar-container li:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--light-gray);
  margin: auto;
  border: solid 3px var(--dark-gray);
  border-radius: 50%;
  box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
  transition: all ease 0.2s;
}

.progress-bar-container #line {
  content: " ";
  width: 5px;
  height: 94%;
  background-color: var(--dark-gray);
  opacity: 0.8;
  position: absolute;
  top: 3%;
  left: 241px;
  z-index: 0;
}
.progress-bar-container #line-progress {
  content: "";
  width: 100%;
  height: 1%;
  background: linear-gradient(
    to bottom,
    #53b7e8 25%,
    #043776 85%,
    #ed1c24 100%
  );
  position: absolute;
  z-index: 2;
  border-radius: 50px;
  transition: all ease 0.9s;
}

.progress-bar-container li:hover::after {
  background-color: #c9c9cc;
  border-color: var(--dark-gray);
}
.progress-bar-container li.active::after {
  background-color: #53b7e8;
  border-color: var(--dark-gray);
  border-color: #043776;
}
.progress-bar-container li.current::after {
  background-color: var(--light-gray);
  border-color: #ed1c24;
  transition: border-color 0.2s ease;
  transition-delay: 0.5s;
}
@media all and (min-width: 1200px) {
  .progress-wrapper {
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .progress-bar-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    margin: 0 auto;
    position: relative;
    -ms-overflow-style: scroll;
    scrollbar-width: none;
  }

  .progress-bar-container ul {
    width: 100%;
    height: 190px;
    flex-direction: row;
    justify-content: center;
    scroll-snap-align: start;
    gap: 0.45rem;
  }
  .progress-bar-container::-webkit-scrollbar {
    display: none;
  }
  .progress-bar-container ul li {
    width: 180px;
    padding: 0;
    display: grid;
    grid-template-rows: 0.25fr 1fr 0.25fr;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .step-inner {
    font-size: 0.6rem;
    text-align: center;
    align-self: start;
  }
  .progress-bar-container li::before {
    width: 40px;
    height: 40px;
    justify-self: center;
  }
  .progress-bar-container li::after {
    justify-self: end;
  }

  .progress-bar-container #line {
    content: "";
    width: 91%;
    height: 4px;
    background-color: var(--dark-gray);
    position: absolute;
    top: 177px;
    left: 4.7%;
    flex-basis: auto;
  }

  .progress-bar-container #line-progress {
    width: 1rem;
    min-height: 100%;
    background: linear-gradient(
      to right,
      #53b7e8 15%,
      #043776 85%,
      #ed1c24 95%
    );
  }

  /* Changing the view for trainings by roles */
  #ibx-co .progress-bar-container,
  #ibx-cf .progress-bar-container,
  #ibx-ls .progress-bar-container {
    justify-content: flex-start;
    padding-top: 1rem;
    background-color: #f0f0f0;
  }
  #ibx-co .progress-bar-container ul,
  #ibx-cf .progress-bar-container ul,
  #ibx-ls .progress-bar-container ul {
    height: 6.85rem;
    min-width: 100%;
    width: auto;
    overflow-x: auto;
    flex: 0 0 auto;
    justify-content: flex-start;
    padding: 0.5rem;
    display: inherit;
  }

  #ibx-co .progress-bar-container #line,
  #ibx-ls .progress-bar-container #line {
    top: 6.85rem;
    left: 4.5rem;
    width: 100%;
    flex-grow: 1;
  }
  #ibx-cf .progress-bar-container #line {
    top: 6.95rem;
    left: 4rem;
    right: 4rem;
  }
  #slideBack,
  #slideForward {
    height: 7.85rem;
    cursor: pointer;
    border: none;
    background-color: #043776;
    color: white;
    padding: 0.5rem;
  }
  #slideBack:hover,
  #slideForward:hover {
    background-color: var(--equinix-red);
  }
  #slideBack {
    position: absolute;
    top: 0%;
    left: 3%;
  }
  #slideForward {
    position: absolute;
    top: 0%;
    right: 3%;
  }
}
@media all and (min-width: 1600px) {
  .progress-bar-container ul {
    height: 195px;
  }
  .progress-bar-container #line {
    top: 180px;
  }
}
@media all and (min-width: 2020px) {
  .progress-bar-container #line {
    width: 89%;
    left: 4rem;
  }
}
@media all and (min-width: 2200px) {
  .progress-bar-container ul li {
    width: 8rem;
  }
  .progress-bar-container #line {
    width: 91%;
    left: 3.5rem;
  }
}
@media all and (min-width: 3000px) {
  .progress-bar-container ul {
    height: 210px;
  }
  .progress-bar-container #line {
    top: 195px;
  }
}
.progress-content {
  background-color: transparent;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0.25rem;
  padding-left: 2rem;
}
.progress-content::-webkit-scrollbar {
  width: 0px;
}

.progress-content .section-content {
  display: none;
  animation: FadeIn 700ms ease 1;
  animation-fill-mode: forwards;
  transform: translateY(15px);
}
.progress-content .section-content.active {
  display: block;
}
@media all and (min-width: 1200px) {
  .progress-content {
    background-color: transparent;
    width: 80%;
    height: max-content;
    margin: 0 auto;
    padding: 0.1rem;
    overflow: auto;
  }
}

/* Course Card Styles */
.course-card {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  opacity: 0.9;
  box-shadow: 2px 0.8rem 1rem rgba(0, 0, 0, 0.05);
  color: #333;
  min-height: 100%;
}

.image-data {
  position: relative;
  z-index: 1;
  overflow: hidden;
  flex: 1 0 auto;
  min-height: 100px;
}
@media all and (min-width: 1200px) {
  .course-card {
    flex-direction: row;
  }
  .image-data {
    width: 32%;
  }
}
#co-beginner .image-data .bg-img {
  background-image: url("https://equinix.sumtotal.host/Core/438.sumtfile");
}
#cf-beginner .image-data .bg-img {
  background-image: url("https://equinix.sumtotal.host/Core/429.sumtfile");
}
#ls-beginner .image-data .bg-img {
  background-image: url("https://equinix.sumtotal.host/Core/428.sumtfile");
}

.bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transition: transform 3s;
}
.course-card:hover .bg-img {
  transform: scale(1.5);
}

.img-details {
  width: 100%;
  height: 100%;
  background-image: var(--gradient-bg);
  color: #fff !important;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}

.img-title {
  display: block;
  color: #fff;
  transition: all 0.5s 0.3s;
  text-transform: uppercase;
  line-height: 1.2;
  margin: auto 0;
}
.img-title:hover {
  color: rgba(255, 255, 255, 0.7);
}
.course-data {
  background-color: #f2f2f2;
  position: relative;
  flex: 1 0 80%;
}
.course {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: visible;
}

.course-title {
  margin: 0.75rem 1rem 0 1.75rem;
}

.course-title::before {
  content: "";
  position: absolute;
  top: 0.9rem;
  left: 0.75rem;
  width: 0.12rem;
  min-height: 1rem;
  background: var(--equinix-red);
  border-radius: 2rem;
}
.course-detail,
.course-detail li a {
  list-style-type: disc;
  color: #043776;
  margin: 0.5rem 0.5rem 0 0.5rem;
  position: relative;
}
.course-detail li {
  font-weight: 600;
  text-transform: capitalize;
}
.cta {
  text-align: right;
  font-weight: bold;
  margin: 1rem;
}
.cta a {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
}
.cta a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 100%;
  height: 2px;
  background-color: var(--equinix-red);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}
.cta a:hover::before {
  transform: scaleX(1);
}

/* Setting images as background to cards */
#general-cloud {
  background-image: url("https://picsum.photos/500");
  background-size: cover;
  background-position: center;
}

#infra-admin {
  background-image: url("https://picsum.photos/450");
  background-size: cover;
  background-position: center;
}
#infra-code {
  background-image: url("https://picsum.photos/452");
  background-size: cover;
  background-position: center;
}
#cloud-admin {
  background-image: url("https://picsum.photos/451");
  background-size: cover;
  background-position: center;
}
#architect {
  background-image: url("https://picsum.photos/454");
  background-size: cover;
  background-position: center;
}
#infosec {
  background-image: url("https://picsum.photos/456");
  background-size: cover;
  background-position: center;
}
#devops {
  background-image: url("https://picsum.photos/453");
  background-size: cover;
  background-position: center;
}
#data-analytics {
  background-image: url("https://picsum.photos/457");
  background-size: cover;
  background-position: center;
}
#itsm {
  background-image: url("https://picsum.photos/458");
  background-size: cover;
  background-position: center;
}

/* Teams Section */
#about {
  width: 100%;
  background-color: #c9c9cc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%23c9c9cc'/%3E%3Cstop offset='1' stop-color='%23f0f9ff'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%23c9cad4'/%3E%3Cstop offset='1' stop-color='%23f1faff'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%23caccdc'/%3E%3Cstop offset='1' stop-color='%23f3faff'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%23cbcfe3'/%3E%3Cstop offset='1' stop-color='%23f4fbff'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%23cdd3e9'/%3E%3Cstop offset='1' stop-color='%23f5fbff'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23d0d8ee'/%3E%3Cstop offset='1' stop-color='%23f7fcff'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%23d3def3'/%3E%3Cstop offset='1' stop-color='%23f8fcff'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%23d8e3f7'/%3E%3Cstop offset='1' stop-color='%23fafdff'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%23dde9fa'/%3E%3Cstop offset='1' stop-color='%23fbfdff'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23e2effc'/%3E%3Cstop offset='1' stop-color='%23fcfeff'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23e9f4fe'/%3E%3Cstop offset='1' stop-color='%23fefeff'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23f0f9ff'/%3E%3Cstop offset='1' stop-color='%23ffffff'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
/* About Us intro */
.aboutUs {
  display: flex;
  height: max-content;
}
.about .container {
  justify-content: center;
}
.aboutUs-content {
  max-width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
}
.img-block {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  justify-content: start;
  align-content: center;
}
.img-block img {
  width: 7.5rem;
}
.img-block .color-block {
  width: 2.5rem;
  height: 2.5rem;
}
.img-block:nth-child(n) .color-block {
  background-color: #043776;
  grid-row-start: 2;
  grid-column-start: 2;
}
.img-block:nth-child(2n) {
  grid-row-start: 2;
  grid-column-start: 2;
  justify-content: center;
}
.img-block:nth-child(2n) .img {
  grid-row-start: 2;
  grid-column-start: 2;
}
.img-block:nth-child(2n) .color-block {
  background-color: #063755;
  grid-row-start: 1;
  grid-column-start: 1;
}
.img-block:nth-child(3n) {
  grid-row-start: 1;
  grid-column-start: 3;
  justify-content: end;
}
.img-block:nth-child(3n) .img {
  grid-row-start: 2;
  grid-column-start: 2;
}
.img-block:nth-child(3n) .color-block {
  background-color: #041b39;
  grid-row-start: 1;
  grid-column-start: 1;
}
.aboutUs-title {
  width: 20%;
  line-height: 75px;
}
.aboutUs-block {
  display: flex;
}
.aboutUs-content .aboutUs-block:nth-child(odd) .block-desc {
  background-color: #0b6b92;
}
.aboutUs-content .aboutUs-block:nth-child(even) .block-desc {
  background-color: #063755;
}
.block-title {
  width: min-content;
  height: min-content;
  min-width: 4.5rem;
  min-height: 4.5rem;
  background-color: var(--equinix-red);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-desc {
  width: 15rem;
  min-height: 12rem;
  height: max-content;
  color: #fff;
}
.why {
  grid-row-start: 2;
}
.what {
  grid-column-start: 2;
  margin-left: -4.5rem;
}
.how {
  flex-direction: column;
  grid-row-start: 2;
  grid-column-start: 3;
  margin-top: -4.5rem;
}
@media all and (max-width: 1200px) {
  .aboutUs-content {
    display: flex;
    flex-flow: row wrap;
    gap: 0.1rem;
  }
  .img-block .color-block {
    display: none;
  }
  .img-block:nth-child(n) {
    display: block;
    order: 1;
    flex-grow: 5;
    width: 33%;
    justify-content: center;
  }

  .aboutUs-block {
    flex-direction: row;
  }
  .aboutUs-block .block-desc {
    background-color: #063755 !important;
  }
  .why,
  .what,
  .how {
    margin: 0;
    order: 2;
  }
}
/* @media all and (max-width: 550px) {
  .img-block:nth-child(n) {
    display: block;
    width: 100%;
  }
} */
/* Contact Slider */

.contact-card {
  width: 200px;
  min-height: 250px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  display: inline-flex !important;
  align-items: center;
  flex-direction: column;
  background-color: #f0f8ff;
  overflow: hidden;
  transition: all 0.5s;
  margin: 1rem;
}

.banner-img {
  width: 130%;
  height: 150px;
  transform: rotate(-12deg);
  position: relative;
  left: -5%;
  overflow: hidden;
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
}
.banner-img::before {
  content: " ";
  transform: rotate(12deg);
  background-image: url(./images/team-card-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  position: absolute;
  top: 0%;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.contact-img {
  width: 7rem;
  height: 7rem;
  border: 3px solid #f0f8ff;
  border-radius: 50%;
  z-index: 0;
  transform: translateY(-80%);
}
.contact-details {
  padding: 1rem 0.5rem 1rem 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  display: grid !important;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  grid-template-rows: 10% 20% 50% 20%;
}
.person-details {
  align-self: start;
}
.title {
  color: grey;
  margin: 0;
  align-self: center;
}

.contact-details a {
  text-decoration: none;
  color: var(--equinix-red);
}

.contact-details .btn {
  width: fit-content;
  margin: 0 auto;
  align-self: end !important;
  margin-bottom: 0.1rem;
  padding: 0.35rem;
}
.team-slider {
  width: 90%;
  margin: 0 auto;
  padding: 0 1rem;
}
.slick-prev:before,
.slick-next:before {
  color: var(--equinix-red) !important;
  font-size: 1.5rem !important;
}

.slick-autoplay-toggle-button .slick-pause-icon:before {
  display: none;
}
.slick-slide {
  padding: 0 10px;
}
.slick-active > div {
  display: flex !important;
  justify-content: center;
}

@media all and (max-width: 600px) {
  .team .container {
    padding: 10px;
  }
  .contact-card {
    max-width: 360px;
  }
}
@media all and (min-width: 800px) {
  .contact-card {
    min-height: 560px;
  }
  .banner-img {
    height: 200px;
    left: -10%;
  }
  .contact-img {
    transform: translateY(-90%);
  }
}
@media all and (min-width: 1100px) {
  .contact-img {
    width: 160px;
    height: 160px;
  }
  .contact-card h4 {
    font-size: 22px;
  }
  .contact-card p,
  .contact-card a,
  .contact-card .btn {
    font-size: 0.7rem;
  }
}
@media all and (min-width: 2000px) {
  .team-slider {
    width: 90%;
  }
}

.organization-banner {
  width: 100%;
  height: max-content;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://equinix.sumtotal.host/Core/610.sumtfile");
  background-attachment: fixed;
  color: #f2f2f2;
  position: static;
  top: 0px;
  left: 0;
}

/* Footer */
.footer {
  display: grid;
  justify-items: center;
  width: 100%;
  margin: auto;
  text-align: left;
  align-items: start;
  color: #fff;
  background-color: #333333;
  padding: 2em;
  margin-bottom: -5rem;
}
.footer .container {
  gap: 2rem;
  width: 100%;
}
.footer p {
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  color: #bebebe;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.03rem;
}
footer a {
  text-decoration: none;
}
.footer h3 {
  border: none;
  font-weight: 600;
  line-height: 2;
  color: #fff;
  text-align: left;
  align-self: start;
  font-size: 0.9rem;
}
.footer .btn {
  text-align: left;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  background: transparent;
  border: rgb(236, 29, 35) 2px solid;
  border: 2px solid white;
  color: white;
  margin: 0.5rem 1rem;
  width: 10rem;
  font-size: 0.7rem;
}
.footer .btn:hover,
.btn:focus {
  outline: none;
  box-shadow: none;
  background-color: rgb(236, 29, 35);
  border: rgb(236, 29, 35) 2px solid;
  color: #fff;
}
.footer-left,
.footer-right {
  display: grid;
  grid-template-rows: auto;
  width: auto;
}
.footer-mid a {
  color: #bebebe;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.03rem;
}
.footer-mid a:hover {
  color: #fff;
}
.eq-footer-social {
  padding: 0 1rem 1rem 0;
}
.eq-footer-social a {
  font-size: 0.75rem;
  padding-right: 1rem;
  color: #fff;
}
.eq-footer-social a:hover {
  color: rgb(236, 29, 35);
}
.contact-links {
  display: grid;
}
.grad {
  grid-column: 1/4;
  margin: 0;
  text-align: center;
}
.grad a {
  color: #fff;
  font-size: 0.65rem;
}

@media all and (min-width: 760px) and (max-width: 1079px) {
  .footer h3,
  .grad,
  .eq-footer-social {
    text-align: center;
  }
  /*   .footer-container {
    width: 65%;
  } */
  .eq-footer-social a {
    padding: 0 0.5rem 1rem 0.5rem;
  }
  .contact-links {
    grid-template-columns: 1fr 1fr;
  }
  .contact-links a:nth-child(1) {
    justify-self: end !important;
  }
  .contact-links a:nth-child(2) {
    justify-self: start !important;
  }
}
@media all and (min-width: 1080px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 0;
    margin: auto;
  }
  .footer-left,
  .footer-right {
    grid-template-rows: 2rem auto auto;
    justify-items: start;
    align-items: start;
  }
  .footer-mid {
    margin: 0 auto;
  }

  .footer-left {
    justify-self: end;
  }
  .footer-right {
    justify-self: start;
  }
  .contact-links .btn {
    margin-left: 0;
  }
  .contact-links {
    grid-auto-rows: 1fr 1fr;
  }
  .eq-footer-social {
    text-align: left;
  }
  .eq-footer-social a {
    padding: 1rem;
    padding-left: 0;
  }
}

/* Degreed section styles*/

/* #degreed {
  display: grid;
  justify-items: center;
  padding-bottom: 100px;
}

.degreed-link-wrapper {
  display: grid;
  justify-items: baseline;
}

.degreed-wrapper {
  display: grid;
  column-gap: 200px;
  row-gap: 50px;
}

.degreed-item-link {
  margin: 0.75rem;
  transition: background-image 1s ease;
}

.degreed-icon {
  padding-top: 60px;
  padding-bottom: 0.5rem;
}

.degreed-link {
  text-align: right;
  text-decoration: underline;
  font-size: x-large;
  padding-left: 50px;
}

.degreed-link a {
  color: red;
}

.degreed-card {
  width: 10rem;
  height: 10rem;
  border-radius: 5px;
  background-color: var(--light-gray);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: 0.3fr 1fr 0.1fr;
}

.degreed-image {
  width: 10rem;
  height: 10rem;
}

.degreed-text {
  font-size: 0.5rem;
  text-align: center;
}

.degreed-desc {
  text-align: left;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.degreed-desc-icon {
  font-size: 1.5rem;
}

.degreed-card .degreed-desc {
  display: none;
}

.degreed-card:hover .degreed-desc {
  display: inline;
}

.degreed-card .degreed-icon {
  display: inline;
}

.degreed-card:hover .degreed-icon {
  display: none;
}

.degreed-btn {
  padding-top: 10px;
  text-decoration: underline;
}

@media screen and (min-width: 620px) {
  .degreed-wrapper {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .degreed-link-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .degreed-empty-holder {
    display: none;
  }
}

@media screen and (min-width: 1320px) {
  .degreed-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .degreed-link-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .degreed-empty-holder {
    display: inline;
  }
}

@media screen and (min-width: 3200px) {
  .degreed-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .degreed-link-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .degreed-empty-holder {
    display: inline;
  }
} */

/* New Degreed */
.new-degreed {
  display: flex;
  flex-direction: column;
  background: url(./images/degreed-bg.png) no-repeat fixed;
  background-size: cover;

  color: #f2f2f2;
  min-height: 95vh;
}

.new-degreed-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.25rem;
  background-color: transparent;
  padding: 1rem !important;
  flex-grow: 1;
}

.new-degreed-card {
  width: 100%;
  min-height: 8rem;
  background-color: #000c1e;
  box-shadow: 3px 3px 10px rgba(51, 51, 51, 0.3);
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
}
.new-degreed-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: var(--equinix-red);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}
.new-degreed-card:hover::before,
.new-degreed-card:hover .cta a::before {
  transform: scaleX(1);
}
.new-degreed-card:hover {
  background-color: #003870;
  transform: scale3d(1.03, 1.03, 1.03);
}

.new-degreed-card:first-child {
  grid-column: 1/3;
}

.new-degreed-card .icon {
  width: 50px;
  height: 50px;
  margin: 1rem 1rem 0.5rem 1.4rem;
}

.new-degreed-card .headline {
  padding: 0 1.25rem;
}

.new-degreed-card p {
  font-size: 0.6rem;
  padding: 0 1.25rem;
}

.new-degreed-card .cta {
  font-size: 0.65rem;
  text-align: left;
  padding-left: 1.25rem;
  margin: 0;
  cursor: pointer;
}

.new-degreed-card .cta a {
  font-size: 0.6rem;
  text-transform: capitalize;
  color: var(--equinix-red);
}
.new-degreed-card:hover .cta > a {
  color: #f2f2f2;
}
.degreed-home .icon {
  background: url(./images/home-icon-white.svg) no-repeat;
  background-size: contain;
}

.degreed-home:hover .icon {
  background: url(./images/home-icon.svg) no-repeat;
  background-size: contain;
}

.degreed-assignments .icon {
  background: url(./images/assignments-white.svg) no-repeat;
  background-size: contain;
}

.degreed-assignments:hover .icon {
  background: url(./images/assignments.svg) no-repeat;
  background-size: contain;
}

.degreed-featured .icon {
  background: url(./images/featured-white.svg) no-repeat;
  background-size: contain;
}

.degreed-featured:hover .icon {
  background: url(./images/featured.svg) no-repeat;
  background-size: contain;
}

.degreed-skills .icon {
  background: url(./images/skills-white.svg) no-repeat;
  background-size: contain;
}

.degreed-skills:hover .icon {
  background: url(./images/skills.svg) no-repeat;
  background-size: contain;
}

.degreed-skills-coach .icon {
  background: url(./images/coach-white.svg) no-repeat;
  background-size: contain;
}

.degreed-skills-coach:hover .icon {
  background: url(./images/coach.svg) no-repeat;
  background-size: contain;
}
/* Counter upper */
.counters {
  background: #000c1e;
  color: #f2f2f2;
  padding: 40px 20px;
  /*   border-top: 3px rgb(220, 225, 230) solid; */
}

.counters .container {
  max-width: 100%;
  margin: 0 auto;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
  text-align: center;
}

.counters i {
  color: #ffffff;
  margin-bottom: 5px;
}

.counters .counter {
  font-size: 1.25rem;
  margin: 10px 0;
}

@media (max-width: 900px) {
  .counters .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .counters .container > div:nth-of-type(1),
  .counters .container > div:nth-of-type(2),
  .counters .container > div:nth-of-type(3),
  .counters .container > div:nth-of-type(4) {
    border-bottom: 1px lightskyblue solid;
    padding-bottom: 20px;
  }
}
